[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Devore7"]
	path = Devore7
	url = https://github.com/cran/Devore7
	shallow = true
	registered = true
[submodule "gWidgets2tcltk"]
	path = gWidgets2tcltk
	url = https://github.com/jverzani/gwidgets2tcltk
	shallow = true
	registered = true
